<%#
	说明:根据需要定制模块或者重构
	作者:ydlx

	已有模块: 保障计划Tab
			  下拉选择模块
			  点击单选模块
			  点击多选模块
			  默认值模块
			  可输入框模块
			  文本模块
			  图片显示模块
 %>

<% if(renderData) {
   var itemArray = Object.keys(renderData.item).filter(function(v,n){
   			return v !== 'clause' && v !== 'favoree' && v !== 'supple_info';
	});

%>

  <% for(var n=0;n < itemArray.length;n++){

	var objArray = renderData.item[itemArray[n]].objArray;
	if(!objArray) {
		alert('nbuyMain.ejs 出错')
	}
  %>
	<section class="box">
		<a class="header">
			<i class="tag"></i>
			<i class="arrows"></i>
			<%= renderData.item[itemArray[n]].title %>
		</a>

		<div class="itemBox">
			<% for(var i=0;i < objArray.length;i++){ %>

				<%#
					模块:上传图片模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "uploadImg") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>

						<div class="uploadBox">
						    <form id="<%= objArray[i].uploadImg.formId %>" class="uploadItem" enctype='multipart/form-data'>
						        <label for="<%= objArray[i].uploadImg.inputId %>"></label>
						        <input type="file" id="<%= objArray[i].uploadImg.inputId %>" name="image" accept=".jpg, .jpeg, .png" multiple hidden="hidden">
						    </form>
						</div>
					</section>
				<% } %>

				<%#
					模块:输入框模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "input") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<input class="content"
							<% for(var x in objArray[i].input){ %>
								<%= x+"="+objArray[i].input[x] %>
							<% } %>
						>
					</section>
				<% } %>

				<%#
					模块:默认值模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "inputDefault") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<input class="content"
							<% for(var x in objArray[i].inputDefault){ %>
								<%= x+"="+objArray[i].inputDefault[x] %>
							<% } %>
						>
					</section>
				<% } %>

				<%#
					模块:下拉选择模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "choose") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<input class="content"
							<% for(var x in objArray[i].choose){ %>
								<%= x+"="+objArray[i].choose[x] %>
							<% } %>
						>
						<i class="icon">
							<img class="iconImg" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
						</i>
					</section>
				<% } %>

				<%#
					模块:单选模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "singleSelect") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<ul class="content" id="<%= objArray[i].id %>" data-id="<%= objArray[i]['data-id'] %>">
							<% for(var y=0;y < objArray[i].singleSelect.length;y++){ %>
							<li
								<% if(y==0){ %>
									class="active"
								<% } %>
							><a
								<%= "data-id"+"="+objArray[i].singleSelect[y]["data-id"] %>
								> <%= objArray[i].singleSelect[y].text %></a></li>
							<% } %>
						</ul>
					</section>
				<% } %>

				<%#
					模块:多选模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "multiSelect") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<ul class="content" id="<%= item[i].id %>">
							<% for(var y=0;y < objArray[i].tab.length;y++){ %>
							<li><a
								<%= "data-id"+"="+objArray[i].tab[y]["data-id"] %>
								><%= objArray[i].tab[y].text %></a></li>
							<% } %>
						</ul>
					</section>
				<% } %>

				<%#
					模块:未知模块
					作者:ydlx
				 %>
				<% if(objArray[i].type == "default") { %>
					<section class="item <%= objArray[i].type %>">
						<label class="title"><%= objArray[i].title %></label>
						<input class="content"
							<% for(var x in objArray[i].default){ %>
								<%= x+"="+objArray[i].default[x] %>
							<% } %>
						>
						<i class="icon">
							<img class="iconImg" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
						</i>
					</section>
				<% } %>
			<% } %>
		</div>
	</section>
  <% } %>
<% } %>
