<section class="background">
	<section class="box">
		<div class="header">
			<i class="tag"></i>
			<%= "保障计划" %>
		</div>

		<% if(insurancePlan) { %>
			<section class="supportPlan">
				<ul id="pt-sp-nav" class="sp-nav pt-sp-nav">
					<% if(insurancePlan.length > 0) { %>
						<% for(var i=0;i < insurancePlan.length;i++){ %>
							<li>
							   <% if(i == "0") { %>
							       <a class="active" data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>"  data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>" data-insureId = "<%= insurancePlan[i].insureId %>"><%= insurancePlan[i].optionName %></a>  
						       <% } else { %>
							       <a data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>" data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>" data-insureId = <%= insurancePlan[i].insureId %>><%= insurancePlan[i].optionName %></a>  
						       <% } %>
							</li>
						<% } %>
					<% } %>
				</ul>

				<ul id="pt-sp-content" class="sp-content">
					<% if(insurancePlan.length > 0) { %>
						<% for(var i=0;i < insurancePlan[0].seriesDesc.length;i++){ %>
						    <li>
								<a id="sp-toggle" class="sp-con-brief">
									<span><%= insurancePlan[0].seriesDesc[i].title %></span>
									<span><%= insurancePlan[0].seriesDesc[i].price %></span>
								</a>
								<p class="sp-con-details">
									<%= insurancePlan[0].seriesDesc[i].desc %>
								</p>
							</li>
						<% } %>
					<% } %>
				</ul>
			</section>
		<% } %>
		
		<% if(item) { %>
			<% for(var i=0;i < item.length;i++){ %>

				<% if(item[i].type == "choose") { %>
					<section class="item <%= item[i].type %>">
						<label class="title"><%= item[i].title %></label>
						<input class="content"
							<% for(var x in item[i].choose){ %>
								<%= x+"="+item[i].choose[x] %>
							<% } %>
						>
						<i class="icon">
							<img class="iconImg" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
						</i>
					</section>
				<% } %>

				<% if(item[i].type == "singleSelect") { %>
					<section class="item <%= item[i].type %>">
						<label class="title"><%= item[i].title %></label>
						<ul class="content" id="<%= item[i].id %>">
							<% for(var y=0;y < item[i].singleSelect.length;y++){ %>
							<li
								<% if(y==0){ %>
									class="active"
								<% } %>
							><a
								<%= "data-id"+"="+item[i].singleSelect[y]["data-id"] %>
								><%= item[i].singleSelect[y].text %></a></li>
							<% } %>
						</ul>
					</section>
				<% } %>
				
				<% if(item[i].type == "multiSelect") { %>
					<section class="item <%= item[i].type %>">
						<label class="title"><%= item[i].title %></label>
						<ul class="content" id="<%= item[i].id %>">
							<% for(var y=0;y < item[i].multiSelect.length;y++){ %>
							<li><a
								<%= "data-id"+"="+item[i].multiSelect[y]["data-id"] %>
								><%= item[i].multiSelect[y].text %></a></li>
							<% } %>
						</ul>
					</section>
				<% } %>

				<% if(item[i].type == "inputDefault") { %>
					<section class="item <%= item[i].type %>">
						<label class="title"><%= item[i].title %></label>
						<input class="content"
							<% for(var x in item[i].inputDefault){ %>
								<%= x+"="+item[i].inputDefault[x] %>
							<% } %>
						>
					</section>
				<% } %>
			<% } %>
		<% } %>
	</section>
</section>
