
<section class="prem-trial">
	<% if (trialOne && trialOne.length) { %>
		<% for(var x=0;x < trialOne.length;x++){ %>
		  	<article class="trial-one">
				<header class="title">
					<i class="decorate"></i>
					<%= trialOne[x].title %>
				</header>
				<% if (trialOne[x].trialTwo && trialOne[x].trialTwo.length) { %>
					<% for(var y=0;y < trialOne[x].trialTwo.length;y++){ %>
						<section class="trial-two">
							<header class="title"><%= trialOne[x].trialTwo[y].title %></header>
							<% if (trialOne[x].trialTwo[y].optional && trialOne[x].trialTwo[y].optional.length) { %>
								<% for(var z=0;z < trialOne[x].trialTwo[y].optional.length;z++){ %>
									<a class="optional" id="<%= trialOne[x].trialTwo[y].optional[z].id %>">
										<div class="selected" data-seq="<%= trialOne[x].trialTwo[y].optional[z].seq %>" data-value="<%= trialOne[x].trialTwo[y].optional[z].key %>" data-tag="<%= trialOne[x].trialTwo[y].optional[z].tag %>">
											<% if (trialOne[x].trialTwo[y].optional[z].textBranch) { %>
												<div class="text">
													<%= trialOne[x].trialTwo[y].optional[z].text %>
												</div>
												<div class="value">
													<%= trialOne[x].trialTwo[y].optional[z].value %>
												</div>
											<% } else { %>
												<%= trialOne[x].trialTwo[y].optional[z].text %>
											<% } %>
										</div>
										<i class="icon">
											<img class="img" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
										</i>
									</a>
								<% } %>
							<% } %>
						</section>
					<% } %>
				<% } %>
			</article>
		<% } %>
	<% } %>
</section>