<section class="prem-trial">
	<section class="support-deadline">
		<a>
			<label>保障期限</label>
			<div class="input-box">
				<input type="hidden" name="rela_id" id="relaId">                     
				<span id="showRela" data-id="1">1-15天</span>
			</div>
			<i class="sp-icon">
				<img class="sp-icon-img" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
			</i>
		</a>
	</section>
	<section class="support-plan">
		<div class="sp-title">
			<i class="sp-tag"></i>
			<%= "保障计划" %>
		</div>

		<ul id="pt-sp-nav" class="sp-nav pt-sp-nav">
			<% if(insurancePlan && insurancePlan.length > 0) { %>
				<% for(var i=0;i < insurancePlan.length;i++){ %>
					<li>
					   <% if(i == "0") { %>
					       <a class="active" data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>"  data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>" data-insureId = "<%= insurancePlan[i].insureId %>"><%= insurancePlan[i].optionName %></a>  
				       <% } else { %>
					       <a data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>" data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>" data-insureId = <%= insurancePlan[i].insureId %>><%= insurancePlan[i].optionName %></a>  
				       <% } %>
					</li>
				<% } %>
			<% } %>
		</ul>

		<ul id="pt-sp-content" class="sp-content">
			<% if(insurancePlan && insurancePlan.length > 0) { %>
				<% for(var i=0;i < insurancePlan[0].seriesDesc.length;i++){ %>
				    <li>
						<a id="sp-toggle" class="sp-con-brief">
							<span><%= insurancePlan[0].seriesDesc[i].title %></span>
							<span><%= insurancePlan[0].seriesDesc[i].price %></span>
						</a>
						<p class="sp-con-details">
							<%= insurancePlan[0].seriesDesc[i].desc %>
						</p>
					</li>
				<% } %>
			<% } %>
		</ul>
	</section>

</section>