<% if(item.bank) {
   var objArray = item.bank.objArray;
%>
<section class="box">
	<a class="header">
		<i class="tag"></i>
		<i class="arrows"></i>
		<%= item.bank.title %>
	</a>
	<div class="itemBox">
		<% for(var i=0;i < objArray.length;i++){ %>

			<% if(objArray[i].type == "input") { %>
				<section class="item <%= objArray[i].type %>">
					<label class="title"><%= objArray[i].title %></label>
					<input class="content"
						<% for(var x in objArray[i].input){ %>
							<%= x+"="+objArray[i].input[x] %>
						<% } %>
					>
				</section>
			<% } %>

			<% if(objArray[i].type == "inputDefault") { %>
				<section class="item <%= objArray[i].type %>">
					<label class="title"><%= objArray[i].title %></label>
					<input class="content"
						<% for(var x in objArray[i].inputDefault){ %>
							<%= x+"="+objArray[i].inputDefault[x] %>
						<% } %>
					>
				</section>
			<% } %>

			<% if(objArray[i].type == "choose") { %>
				<section class="item <%= objArray[i].type %>">
					<label class="title"><%= objArray[i].title %></label>
					<input class="content"
						<% for(var x in objArray[i].choose){ %>
							<%= x+"="+objArray[i].choose[x] %>
						<% } %>
					>
					<i class="icon">
						<img class="iconImg" src="https://m1.renrenbx.com/rrbxcdn/rrbx/arrows.png">
					</i>
				</section>
			<% } %>
		<% } %>

	</div>
</section>
<% } %>