<% if(header){ %>
<section class="banner-card mg-b-15">
	<a class="banner-main">
		<figure>
			<% if(header.banner){ %>
			<img class="banner-img" src="<%= header.banner %>">
			<% } %>
			<figcaption class="pro-text">
				<p>
					<%= header.subTitle %>
				</p>
			</figcaption>
			<div class="pt-left">
				<img src="https://img2.renrenbx.com/rrbxcdn/ydlx/insuranceproduct/commonicon/banner-left.png">
			</div>
			<div class="pt-right">
				<img src="https://img2.renrenbx.com/rrbxcdn/ydlx/insuranceproduct/commonicon/banner-left.png">
			</div>
		</figure>
	</a>
	<div class="banner-info">
		<div>
			<%= "保障年龄:" + header.insuredAge  %>
		</div>
		<div>
			<%= "保障期限:" + header.timeRange  %>
		</div>
		<div>
			<%= "已购买:" + header.sellCount  %>
		</div>
	</div>
</section>
<% } %>