<section class="prem-trial">
	<section class="support-deadline">
		<div class="sp-title">
			<i class="sp-tag"></i>
			<%= "保障期限：" + header.timeRange %>
		</div>
	</section>

	<section class="support-plan">
		<div class="sp-title">
			<i class="sp-tag"></i>
			<%= "保障计划" %>
			<a id="pt-close" class="pt-close">关闭</a>
		</div>

		<ul id="pt-sp-nav" class="sp-nav pt-sp-nav">
			<% if(insurancePlan && insurancePlan.length > 0) { %>
				<% for(var i=0;i < insurancePlan.length;i++){ %>
					<li>
					   <% if(i == "0") { %>
					       <a class="active" data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>"  data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>"><%= insurancePlan[i].optionName %></a>  
				       <% } else { %>
					       <a data-price="<%= insurancePlan[i].price %>" data-id="<%= insurancePlan[i].id %>" data-value="<%= insurancePlan[i].insAmount %>" data-tag="<%= i %>"><%= insurancePlan[i].optionName %></a>  
				       <% } %>
					</li>
				<% } %>
			<% } %>
		</ul>

		<ul id="pt-sp-content" class="sp-content">
			<% if(insurancePlan && insurancePlan.length > 0) { %>	

			<% } %>
		</ul>
	</section>

</section>